
<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card class="example-card">
  
   <form [formGroup]="refactorForm"  (ngSubmit)="onFormSubmit()" >
         
  <table class="table table-bordered"  id="tableWords">
  <thead >
   <tr>
     <th scope="col">Rules</th>
    
    </tr>
   </thead>
    
     <tbody>
     
     <tr>
   <ng-container formArrayName="items" *ngFor="let item of refactorForm.get('items')['controls']; let i = index">
    
    <div [formGroupName]="i">
        <input  hidden  class="form-control" type="text" formControlName="id"/>
        <td> 
          <input  type="checkbox"  formControlName="activecheck" value="D" />
        </td>
       <td> 
        <input   class="form-control" type="text" placeholder="Name Rule" formControlName="name"/>
      </td>
        <td> 
        <input   class="form-control"   type="text" placeholder="Search Word" formControlName="word_to_rename"/>
      </td>
     <td> 
        <input   class="form-control"  type="text" placeholder="Change Word" formControlName="renowned_word" />
      </td><td>   
        <button  type="button"  (click)="removeItem(i)"> <img src="/assets/img/delete.png"  alt="delete"/></button>
     </td>
      
  
      <td id="boton"> 
       <button  type="button"  id="add" (click)="addFila()"> <img src="/assets/img/anadir.png"  alt="add"/></button>
   
      </td>
	</div>
</ng-container>
    </tr>   
     </tbody>
    </table>
         
         
      <div class="button-row">
        <button type="submit"  mat-flat-button color="primary">Refactor</button>
      </div>
      
   
    </form>
  </mat-card>
</div>

